<div class="container">
    <div *ngIf="enrolments.length>0; then enrolmentsView else noEnrolmentsView"></div>
    <ng-template #enrolmentsView>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Date</th>
                        <th>Image</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let enrolment of enrolments" (ngClick)="onCourseClick()">
                        <td>{{enrolment.name}}</td>
                        <td>{{enrolment.price}}</td>
                        <td>{{enrolment.date | date}}</td>
                        <td><img [src]="enrolment.imageUrl" width="150" height="100" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ng-template>
    <ng-template #noEnrolmentsView>
        <h3 class="info center-block">You are not registered to any course. Enroll now and learn something!</h3>
    </ng-template>
</div>